@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	font-family: arial;
	display: flex;
	flex-direction: column;
	margin:0;
}




html {
  scroll-behavior: smooth;
  
}


.contact-content{
	display: flex;
	flex-direction: column;
	margin:30px;
	align-items: center;
}
.contact-content a{
color: white;
text-decoration: none;
background-color: blue;
padding: 10px;
border-radius: 5%;

}
.contact-card{
	display: flex;
	margin:30px;
}

.contact-card div{
	width:33.3%;
	padding: 10px;
	text-align: center;
}
.contact-card h3{
	color:#aec40b;
}
.about-contact-interested{
	text-align: center;
	margin-top: 20px;

}
.about-contact-interested-decoration{
	font-size: 30px;
}
.send-message{
	display: flex;
	justify-content: space-around;
	margin:20px;
}

.send-message div{
	
	width: 50%;
	padding: 20px;

}
.send-message-address{
	text-align: center;
}
..send-message-address img{
	width:100%;
}

.send-message-address span{
	font-size: 25px;
}
.send-message-address br{
	margin: 3px;
}
.send-message-right input{
	width:100%;
	height: 40px;
	
  background-color : #fafbf7;
}
.send-message-right{
	font-size: 20px;
}
.send-message-right span{
	color:#aec40b;
}
.nav-bar{
	background:#fafbf7;
	color:#444444;
	padding: 	20px;
	position: sticky;
	top: 0;
}
.nav-bar a{
	text-decoration: 	none;
	color:#444444;
}
.nav-bar ul li.active a, .nav-bar ul li a:hover{
	color:#aec40b;
}

.nav-bar img{
	height: 	50px;
	float: 	left;
	margin-right: 	20px;
	margin-left: 	10px;

}

.menu-right{
text-align: right;

}

.menu-right ul li{
display: inline;
margin:20px;
list-style: none;

}
.menu-right span{
	margin-right:20px;
	margin-top:8px;
	font-size: 	20px;
	cursor: pointer;
	display: none;	
}

.main-image{
	
	position: relative;
}
.slide-on-image{
	background: rgba(255,255,255,0.9);
	position:absolute;
	max-width: 60%;
	height:auto;
	padding: 10px;
	bottom: 10%;
	left: 10%;
}
.slide-on-image h2{
border-bottom: 5px solid;
border-color: blue;
padding-bottom: 10px;
	}
.main-image img{
	width: 100%;
	height: 500px;
}

.main-content{
	display: flex;
	justify-content: space-between;
	padding: 20px;
	/*margin-top: 10px;*/
}
.main-content div{
	padding: 20px;

}

.main-content .content-right div{
	/*flex-basis: 60%;
	/*margin-right: 70px;*/
}
.excellence-img img{
	border:1px solid;
	width: 100%;
	height: auto;
}

.content-right p{
font-family:Verdana;
letter-spacing: 0.8px;	
}
.content-right span{
font-weight:bold;
}
.lower-main-content-heading h2{
	text-align: center;
	color:  #dd9933;
}

.text-decoration-h3{

	border-bottom: 2px solid;
	padding-bottom: 20px;
	font-weight: lighter;
}

.lower-main-content-row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-grow: 1;
	
}
.lower-main-content-row div{
	flex-basis: 33.3%;
	/*margin-left: 25px;*/
	
}
.lower-main-content-row h2{
	font-family:verdana;
	font-style:italic;
text-align: center;
color:blue;
}

.lower-main-content-row-card{
	display: 	flex;	
	flex-direction: 	column;	

}
.lower-main-content-row-card i{
	align-self: 	center;
	background: #dd9933;
font-size: 50px;
border-radius:50%;
padding: 15px;
margin-top: 20px;
}
.lower-main-content-row  p{
text-align: justify;
margin: 0px 30px 10px 30px;
}


.contact-quick-links{
	display: flex;
	justify-content: space-around;
	color: white;
	height:auto;
	background: #dd9933

}
.contact-quick-links ul{
	list-style: none;
	padding-right: 40px;
}
.contact-quick-links a{
	text-decoration: none;
	color:white;
	
}
.contact-quick-links i{

	width: 30px;
	height: 30px;
}

.statistic{
	background:#F8F8F8;
	color:#444;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lines{
	font-size: 30px;
}

.countertext{
	font-size: 25px;
	

}
.lines p:before{
	background-color: white;
	display: block;
	content: "";
	width: 120px;
	height:2px;
	position: absolute;
	left: 0;
	top: 50%;
}


.statistic-counter{
	
	display: flex;
	justify-content: space-around;
	width: 80%;
	text-align: center;
	padding-bottom: 40px;
}
.count-p{
	width:20%;
}
.count{
	color:#aec40b;
	font-size: 25px;
}
.to-top {
	background:black;
	padding-top: 15px;
	color:white;
	position:fixed;
	bottom:50px		;
	right: 50px;
	width: 	50px;
	height:50px;
	text-align: center;
	border-radius:50%;
	cursor:pointer	;
	z-index: 5;
	text-decoration: none;
	opacity: 0;
	/*pointer-events: none;*/
	transition: all .5s;
}
.to-top.active{
	pointer-events: auto;
	opacity:1;
	
}
@media only screen and (max-width: 	700px){

	.menu-right span{
	display: block;	
}

.menu-right ul li{
display: none;
margin:20px;
list-style: none;	
}
.open-menu ul li{
	display: 	block;
}

.main-content{
	display:flex;	
	flex-direction: column;	
}
.lower-main-content-row{
display: flex;
flex-direction: column;
}

.lower-main-content-row div{
flex-basis: 100%;
margin-bottom: 10px;
}
.contact-quick-links{
	display:flex;
	flex-direction:column;	 	
}

/**contact page start**/
.contact-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.contact-card div{
width:90%;
}

.send-message{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.send-message div{
	width:90%;
}
/**contact page end**/
}


previous demo
Best jQuery
codelab
counter style : demo 133
Web Designing
1963
Web Development
1854
Brand Building
1756
Responsive Design
1823
HTML (Icons : Fontawesome & CSS Framwork: Bootstrap)
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
	
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="counter">
                <div class="counter-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <h3>Web Designing</h3>
                <span class="counter-value">702</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter purple">
                <div class="counter-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <h3>Web Development</h3>
                <span class="counter-value">663</span>
            </div>
        </div>
    </div>
</div>
CSS (Fonts required: Poppins | Oswald.)
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
	
.counter{
    color: #777;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 210px;
    height: 170px;
    padding: 25px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #01BFE1;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: -1;
    clip-path: polygon(13% 0%, 87% 0%, 100% 50%, 87% 100%, 13% 100%, 0% 50%);
}
.counter:after{
    background: #fff;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
}
.counter .counter-icon{
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 13px;
}
.counter h3{
    color: #01BFE1;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0 0 8px;
}
.counter .counter-value{
    font-size: 30px;
    font-weight: 600;
    display: block;
}
.counter.purple:before{ background: #2A1C71; }
.counter.purple h3{ color: #2A1C71; }
.counter.pink:before{ background: #FE3653; }
.counter.pink h3{ color: #FE3653; }
.counter.green:before{ background: #31ad26; }
.counter.green h3{ color: #31ad26; }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}
JavaScript (Counter depend on jQuery.)
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
	
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
 
$(document).ready(function(){
    $('.counter-value').each(function(){
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        },{
            duration: 3500,
            easing: 'swing',
            step: function (now){
                $(this).text(Math.ceil(now));
            }
        });
    });
});
License Terms




